@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --paleCyan: hsl(193, 100%, 96%);
    --darkCyan: hsl(192, 100%, 9%);
    --grayishBlue: hsl(208, 11%, 55%);
    --btncolor: #f158ba;
    --activecolor: #f99bd4;
    --fsize: 18px;
    --fontfam1: font-family: 'Poppins', sans-serif;
    --fontfam: font-family: 'Open Sans', sans-serif;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--darkCyan);
    /* z-index: -1; */
    background-size: cover;
    background-attachment: fixed;
    padding-top: 12em;
    padding-bottom: 7em;
    width: 100%;
    justify-content: space-evenly;
    color: #ffffff;
}

#footerleft {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    justify-content: space-evenly;
    gap: 2em;
}

.flogo img {

    filter: brightness(0) invert(1);
    justify-content: center;
    padding-left: 5em;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: baseline;
    justify-content: center;
    padding-left: 5em;
}

.address {
    display: flex;
    align-items: baseline;
    gap: 1em;
}

.address .icon {
    padding-top: 2em;
}

.mobile {
    display: flex;
    align-items: baseline;
    gap: 1em;
}

.email {
    display: flex;
    align-items: baseline;
    gap: 1em;
}

#footercenter {

    display: flex;
    flex-direction: row;
    width: calc(100%/3);
    align-items: center;
    justify-content: center;
    gap: 3em;
    font-size: 1.2em;
}

#footercenter #left {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#footercenter #right {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#footercenter a {
    text-decoration: none;
    color: #ffffff;

}

#footerright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 5em;
}

.social {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin-top: 6em;
}

.social .fab {
    border: 1px solid #ffffff;
    border-radius: 100%;
    color: #ffffff;
    padding: 9px 10px;
}